.navbar {
  font-size:20;
}

.navi {
    margin-top:7px;
    color:white;
}

#navbarsitem {
    margin-left:10%;
}

.navbar ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
.navbar li {
    width: 50px;
    color: white;
  }

.footer a {
    color:white;
}

footer a:hover {
    color:white;
}
.container-login {
    margin-left:30%;
    margin-right:30%;
    margin-top:7%;
}

.container-login i{
    font-size:50px;
    color:#343a40;
}

.container-login input {
    margin-bottom:2%;
}


.container-register {
   margin-bottom:4.5%;
   margin-top:4.5%;
}

.container-register .card {
    border:none;
}

@media screen and (min-width: 100px) and (max-width:640px) {
    .container-login {
        margin-left:25%;
        margin-right:25%;
        margin-top:20%;
    }
}

