.navbar {
  font-size:20;
}

.navi {
    margin-top:7px;
    color:white;
}

#navbarsitem {
    margin-left:10%;
}

.navbar ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
.navbar li {
    width: 50px;
    color: white;
  }

.footer a {
    color:white;
}

.footer img {
    max-width: 40px;
    max-height: fit-content;
    margin-right:5px;
}

footer a:hover {
    color:white;
}
.container-login {
    margin-left:30%;
    margin-right:30%;
    margin-top:13%;
}

.container-login i{
    font-size:50px;
    color:#343a40;
}

.container-login input {
    margin-bottom:2%;
}


.container-register {
   margin-bottom:4.5%;
   margin-top:6%;
}

.container-register .card {
    border:none;
}

.container-ads .card {
    border:none;
}
.container-ads {
    margin-bottom:4.5%;
    margin-top:7%;
}

.container-index {
    margin-bottom:4.5%;
    margin-top:7%;
    margin-left: 3%;
    margin-right: 3%;
}

.container-index img {
    max-width: 40px;
    margin-right:5px;
    margin-bottom:5px;
}

.container-index .card-header {
    font-size:25;
}

.container-allprof {
    margin-bottom:4.5%;
    margin-top:7%;
    margin-left: 3%;
    margin-right: 3%;
}

.container-feed {
    margin-bottom:4.5%;
    margin-top:5%;
    margin-left: 45%;
    margin-right: 3%;
}

.container-feed img {
    max-width: 40px;
    margin-right:5px;
    margin-bottom:5px;
}

.container-feed .card {
    margin-bottom:7px;
}

.container-profil {
   margin-left:15px;
   font-size: 20;
}

.container-profil img {
    max-width: 100px;
    margin-right:5%;
}

@media screen and (min-width: 100px) and (max-width:640px) {
    .container-login {
        margin-left:25%;
        margin-right:25%;
        margin-top:20%;
    }
}

